<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head th:replace="fragments/head.html :: head('CodeFluent')"></head>
    <body>
        <!-- Navbar  -->
        <nav th:replace="fragments/navbar.html :: navbar"></nav>
        <!-- Main -->
        <main class="container">
            <div class="row light-bottom-border current" th:each="deck : ${decks}">
                <div class="col-7 col-sm-8 col-lg-9">
                    <p th:text="${deck.name}"></p>
                </div>
                <div class="col-1"></div>
                <div class="col-4 col-sm-3 col-lg-2">
                    <div class="dropdown">
                        <div style="float: right;">
                            <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="deckOptions">
                                <button class="dropdown-item" type="button">Rename</button>
                                <button class="dropdown-item" type="button">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer -->
        <footer th:replace="fragments/footer.html :: footer"></footer>
    </body>
</html>